.btn {
  border-radius: 3px;
  cursor: pointer;
  letter-spacing: 0.03em;
  padding: 7px 20px 8px;
  outline: 0;
  white-space: nowrap;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn:not(:disabled):hover,
.btn:not(:disabled):focus {
  background: #f05337;
  color: white;
}

.default {
  background: #efefef;
  border: 1px solid #ff6347;
  color: black;
}

.default:disabled {
  border-color: #efefef;
}

.emphasis {
  background: #ff6347;
  color: white;
}

.slim {
  padding: 3px 12px 4px;
}
