.lane {
  display: flex;
  grid-gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 10px 0 15px;
}

.header {
  display: flex;
}

.name {
  min-width: 140px;
}

.count {
  flex-grow: 1;
  opacity: 0.8;
}

.note {
  box-sizing: border-box;
  height: 100%;
  max-width: 350px;
  min-width: 200px;
}

.card {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 16px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
}

.controls > button {
  flex-grow: 1;
}

@media (min-width: 768px) {
  .lane {
    padding: 20px 40px;
  }
}
