.container {}

.lanes {
  display: flex;
  flex-direction: column;
}

.lane {
  border-bottom: 1px solid #aaa;
  flex-grow: 1;
}

.lane:first-child {
  border-top: 1px solid #aaa;
}

.card {
  padding: 30px 40px 60px;
}
