.note {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  min-width: 180px;
  padding: 10px 15px 14px;
  position: relative;
}

.header {
  display: flex;
  grid-gap: 10px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  margin-top: 10px;
}

.tags {
  margin: 10px 0;
}

.name,
.desc,
.btn,
.spacer {
  flex-grow: 1;
}
