.note {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow:
    0 4px 25px -3px rgba(10, 5, 20, 0.1),
    0 3px 12px -3px rgba(3, 0, 0, 0.2),
    1px 2px 6px -2px rgba(5, 0, 5, 0.1);
  display: flex;
  flex-direction: column;
  padding: 10px 15px 14px;
  min-width: 180px;
}

.description {
  flex-grow: 1;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
}

.controls > button {
  flex-grow: 1;
}
