.note {
  display: flex;
  flex-direction: column;
  position: relative;
}

// .note :global(.card) {
//   background: hsla(var(--pos), var(--fill-alpha));
//   color: hsla(var(--neg), var(--stroke-alpha));
// }

.header {
  display: flex;
  grid-gap: 10px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  margin-top: 10px;
}

.tags {
  margin: 10px 0;
}

.name,
.desc,
.btn,
.spacer {
  flex-grow: 1;
}
